
/* PAGINA DE INICIO*/

.inicio{
    background: rgb(148, 216, 230);
}
.box{
    width: 100%;
    height: 100px;
    margin: 20px;
    /* Se puede poner transparente */
    background: rgba(109, 109, 215, 0.383);
    /* [background-image: url();]Se agrega el vinculo de la imagen para que la caja tenga una foto [background-size: contain;] contiene la imagen para que se adapte a cualquier tamaño de la caja. [  background-position: center;] para que la imagen se centre en el contenedor todo el tiempo sin importar el tamaño tambien se puede pobar con top,bottom,left y right. [ background-repeat: no-repeat;] si la imagen es muy grande y se repite con este comando se evita todo, si tenemos un color este se vera.[background-attachment: fixed;] al bajar la pagina la imagen tiene un fecto de movimiento*/
    background-image:url(https://i.pinimg.com/736x/be/d1/2e/bed12e9f52cf05683ee7136a626f1bed.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
.box2{  /* Ejemplo bonito */
    background: rgba(98, 146, 228, 0.434);
    padding: 20px 50px;
    text-align: center;
    color:rgb(84, 49, 167);
    border-top: 3px solid rgb(84, 49, 167);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    font-family: 'Open Dyslexic';
    text-align: center;
}
.imageninicio{
    text-align: center;
}
.formulario{
    text-align: center
}
/* PAGINA 1 */
.cap1 {
    font-family: "Open Dyslexic";
    text-align: left;
}
@font-face{font-family: "Open Dyslexic";
src: url("Fonts/OpenDyslexic3-Regular.ttf") format("truetype");
font-weight: 100px;
}

body{
    background: rgb(215, 185, 190);
}
.contenedor {
        text-align: center;
}
.img1{
    width: 200px;
}
.link1 {
    text-align: center;
}
.link2 {
    text-align: right;
}

/* PAGINA 2 */
.cap2{
    font-family:'Open Dyslexic';
        text-align: left;

}
@font-face{font-family: "Open Dyslexic";
src: url("Fonts/OpenDyslexic3-Regular.ttf") format("truetype");
font-weight: 100px;
}
.img2{
    text-align: center;
}
.imgcap2{
    width: 200px;
}
.link3 {
    text-align:end;
}
.link4 {
    text-align: center;
}
/* CAPITULO 3 */
.cap3{
    font-family:'Open Dyslexic';
        text-align: left;

}
.link5{
    text-align:end;
}
.link6{
    text-align: center;
}
.imagencap3{
    text-align: center;
}