
/* PAGINA DE INICIO*/
.inicio{
    background: rgb(148, 216, 230);
    background-image: url(https://i.pinimg.com/1200x/be/d1/2e/bed12e9f52cf05683ee7136a626f1bed.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
        margin: 0;
}

.box2{  /* Ejemplo bonito */
    background: rgba(185, 98, 228, 0.434);
    padding: 20px 50px;
    text-align: center;
    color:rgb(139, 214, 227);
    border-top: 3px solid rgb(218, 212, 174);
}
h1{
    text-align: center;
    margin: 0;
}
h2{
    text-align: center;
    margin: 0;
}
p{
    font-family: 'Open Dyslexic';
    text-align: center;
}
.imageninicio{
    text-align: center;
}
.formulario{
    text-align: center
}
/* PAGINA 1 */
.box{
    width: 100%;
    height: 150px;
    margin: 20px;
    background:url(https://i.pinimg.com/1200x/86/55/ae/8655ae92b7ea7f730508edfc7e97842d.jpg) bottom / cover #6fa;
    margin: 0px;
}
.opaco {
    height: 100%;
    width: 100%;
}
.cap1 {
    font-family: "Open Dyslexic";
    text-align: left;
}
@font-face{font-family: "Open Dyslexic";
src: url("Fonts/OpenDyslexic3-Regular.ttf") format("truetype");
font-weight: 100px;
}

body{
    background: rgb(215, 185, 190);
}
.contenedor {
        text-align: center;
}
.img1{
    width: 200px;
}
.link1 {
    text-align: center;
}
.link2 {
    text-align: right;
}

/* PAGINA 2 */
.box{
    width: 100%;
    height: 150px;
    margin: 20px;
    background:url(https://i.pinimg.com/1200x/86/55/ae/8655ae92b7ea7f730508edfc7e97842d.jpg) bottom / cover #6fa;
    margin: 0px;
}
.opaco {
    height: 100%;
    width: 100%;
}
.cap2{
    font-family:'Open Dyslexic';
        text-align: left;

}
@font-face{font-family: "Open Dyslexic";
src: url("Fonts/OpenDyslexic3-Regular.ttf") format("truetype");
font-weight: 100px;
}
.img2{
    text-align: center;
}
.imgcap2{
    width: 200px;
}
.link3 {
    text-align:end;
}
.link4 {
    text-align: center;
}
/* CAPITULO 3 */
.box{
    width: 100%;
    height: 150px;
    margin: 20px;
    background:url(https://i.pinimg.com/1200x/86/55/ae/8655ae92b7ea7f730508edfc7e97842d.jpg) bottom / cover #6fa;
    margin: 0px;
}
.opaco {
    height: 100%;
    width: 100%;
}
.cap3{
    font-family:'Open Dyslexic';
        text-align: left;

}
.link5{
    text-align:end;
}
.link6{
    text-align: center;
}
.imagencap3{
    text-align: center;
}
