
/* PAGINA DE INICIO*/
.inicio{
    background: rgb(148, 216, 230);
    background-image: url(https://i.pinimg.com/1200x/be/d1/2e/bed12e9f52cf05683ee7136a626f1bed.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
        margin: 0;
}

.card{
    text-align: center;
    width: 300px;
    /* lo centra en toda la pagina */
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 45px rgb(95, 95, 228);
    background: linear-gradient(rgb(201,227, 161),rgb(124, 216, 155));
    border-radius: 5%;
     /* [display: inline-block;] */
}

.card2{
    text-align: center;
    width: 300px;
    /* lo centra en toda la pagina */
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 45px rgb(95, 95, 228);
    background: linear-gradient(rgb(107, 78, 213),rgb(210, 211, 251));
    border-radius: 5%;
}

.card3{
    text-align: center;
    width: 300px;
    /* lo centra en toda la pagina */
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 45px rgb(95, 95, 228);
    background: linear-gradient(rgb(70, 79, 246),rgb(132, 133, 224));
    border-radius: 5%;
}

.card-title{
    padding-top: 10px; 
    font-size: 22px;
    margin: 0;
    color: cadetblue;}

.card-subtitle{ 
    font-size: 13px; 
    font-weight:100; 
    letter-spacing: 2px;
    color: cadetblue
}
.card-img{
    width: 110px;
    padding-top: 25px;
    border-radius: 10%;
}
.card-content{font-size: 9px; 
    padding: 0px;  
    text-align: center; 
    font-size: 100%;
    color: white;
}

.box2{  /* Ejemplo bonito */
    background: rgba(185, 98, 228, 0.434);
    padding: 20px 50px;
    text-align: center;
    color:rgb(139, 214, 227);
    border-top: 3px solid rgb(218, 212, 174);
}
h1{
    text-align: center;
    margin: 0;
}
h2{
    text-align: center;
    margin: 0;
}
p{
    font-family: 'Open Dyslexic';
    text-align: center;
}
.imageninicio{
    text-align: center;
}
.formulario{
    text-align: center;
}
